.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
  }
  
  .post-intro {
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
  }
  
  .post-intro header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .date {
    font-style: italic;
    color: #888;
  }
  
  .photo {
    margin-bottom: 20px;
  }
  
  .image-recognition-photo {
    max-width: 100%;
    object-fit: cover;

  }
  
  .body {
    line-height: 1.6;
  }
  
  .nav-single {
    margin-top: 20px;
  }
  
  .nav-previous,
  .nav-next {
    display: inline-block;
    margin-right: 10px;
  }
  
  .nav-previous button,
  .nav-next button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .nav-previous button:disabled,
  .nav-next button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .fa-chevron-left,
  .fa-chevron-right {
    margin-right: 5px;
  }
  


  @import url('https://fonts.googleapis.com/css?family=Inconsolata');
  
  @mixin transition-all {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  
  $slate-color: rgb(16,24,50);
  $blue-color: rgb(239, 132, 212);
  $pink-color: black;
  
  .btn {
    color: $slate-color;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 0.075em;
    padding: .8em 1em;
    margin: auto 2em;
    position: relative;
    align-self: center;
    text-transform: uppercase;
    border: 3px $blue-color solid;
    border-image: linear-gradient(45deg, $blue-color 0%, $pink-color 100%);
    border-image-slice: 1 1 0 0;
    z-index: 1;
    box-shadow: -0.5em .5em transparentize($slate-color,1);
    transform-origin: left bottom;
    @include transition-all;
  
    &:before,
    &:after {
      border: 3px $blue-color solid;
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
    }
  
    // SIDE
    &:before {
      border-image: linear-gradient(45deg, $blue-color 0%, adjust-hue($blue-color,10%) 100%);
      border-image-slice: 1 1 0 1;
      left: -0.59em; top: .15em;
      width: .31em;
      height: 100%;
      transform: skewY(-45deg);
    }
  
    // BOTTOM
    &:after {
      border-image: linear-gradient(45deg, $blue-color 0%, $pink-color 100%);
      border-image-slice: 1 1 1 0;
      bottom: -0.61em; right: 0.16em;
      width: 100%;
      height: .31em;
      transform: skewX(-45deg);
    }
  
    // Shadow
    &:hover {
      background-color: white;
      background-size: 90%;
      transform: translate(0.5em,-0.5em);
      box-shadow: -1em 1em .15em transparentize($slate-color,.9);
  
      &:before {
        height: calc(100% - .13em);
        border-image-slice: 1;
      }
  
      &:after {
        width: calc(100% - .13em);
        border-image-slice: 1;
      }
    }
  }
  